streamlit
opencv-python-headless
groq
db-sqlite3
openai
faiss-cpu
langchain
pymupdf
python-dotenv
tiktoken
unstructured[doc]
sentence-transformers
langchain-community
langchain_openai
langchain_experimental
langchain_chroma
langchainhub
unstructured
torch
torchvision
torchaudio
docx2txt
langchain_community
crewai
pysqlite3-binary
speechrecognition
pyttsx3
